src/workflows/responder-emails.json
{
  "name": "Responder Emails",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        }
      },
      "id": "1",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [100, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "ggPKEdpztOgjSPdI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [400, 200],
      "credentials": {
        "openAiApi": {
          "id": "0w6fqDy31VFVaY70",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "Re: ={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.message.content }}"
      },
      "id": "3",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "ggPKEdpztOgjSPdI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Message a model", "type": "main", "index": 0 }]]
    },
    "Message a model": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
